    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Persons</h2>
            <p class="text-primary">Her you can review persons, also you can create new, edit or delete already existed person.</p>
            <p><a class="btn btn-info" id="loginBtn" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
            <h2>Sign Up</h2>
            <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
            <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
